In [401]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [402]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1640,tt0350258,40000000,124731534,Ray,Jamie Foxx|Kerry Washington|Regina King|Harry ...,Taylor Hackford,The extraordinary life story of Ray Charles. A...,Born on a sharecropping plantation in Northern...,152,Drama,Universal Pictures,10/29/2004,7.0,2004
794,tt0491152,35000000,59901913,Something Borrowed,Kate Hudson|Ginnifer Goodwin|John Krasinski|Co...,Luke Greenfield,It's a thin line between love and friendship.,Though Rachel (Ginnifer Goodwin) is a successf...,112,Comedy|Drama|Romance,Alcon Entertainment|Wild Ocean Films|2S Films,5/5/2011,6.0,2011
588,tt0234829,34000000,19693891,Summer Catch,Freddie Prinze Jr.|Jessica Biel|Fred Ward|Matt...,Mike Tollin,Are you game?,A coming-of-age romantic comedy set against th...,108,Drama|Comedy|Romance,Tollin/Robbins Productions|Warner Bros.,8/22/2001,4.8,2001
1751,tt0443680,30000000,14711793,The Assassination of Jesse James by the Coward...,Brad Pitt|Casey Affleck|Sam Shepard|Mary-Louis...,Andrew Dominik,Beyond the myth lies America's greatest betrayal,Outlaw Jesse James is rumored be the 'fastest ...,160,Action|Drama|Western,Plan B Entertainment|Virtual Studios|Scott Fre...,9/2/2007,6.9,2007
438,tt1075747,47000000,10539000,Jonah Hex,Josh Brolin|John Malkovich|Megan Fox|Michael F...,Jimmy Hayward,Revenge gets ugly.,Gunsliger Jonah Hex (Josh Brolin) is appointed...,80,Action|Western|Drama|Fantasy|Thriller,Warner Bros.,6/18/2010,4.4,2010

In [403]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [404]:
answers = {} # словарь, в котором содержатся ответы на вопросы; dictionary that contains answers to questions

# ******На все вопросы ответил правильно******

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [405]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['1'] = "5. Pirates of the Caribbean: On Stranger Tides (tt1298650)"

In [406]:
# Решение 1 задачи, Solution 1 of the problem
most_expensive_film = data[data.budget == data.budget.max()].original_title
budget_film = data.budget.max()
print("Задание 1: Самый дорогой фильм имеет бюджет - ", budget_film
     ,"\nНазвание фильма -", most_expensive_film)

Задание 1: Самый дорогой фильм имеет бюджет -  380000000
Название фильма - 723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [407]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['2'] = 'Gods and Generals (tt0279111)'

In [408]:
# Решение 2 задачи, Solution 2 of the problem
most_runtime_film = data[data.runtime == data.runtime.max()].original_title
m_runtime_film = data.runtime.max()
print("Задание 2: Длительность фильма  - ", m_runtime_film
     ,"\nНазвание фильма -", most_runtime_film)

Задание 2: Длительность фильма  -  214
Название фильма - 1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [409]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [410]:
# Решение 3 задачи, Solution 3 of the problem
low_runtime_film = data[data.runtime == data.runtime.min()].original_title
l_runtime_film = data.runtime.min()
print("Задание 3: Длительность фильма  - ", l_runtime_film
     ,"\nНазвание фильма -", low_runtime_film)

Задание 3: Длительность фильма  -  63
Название фильма - 768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [411]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['4'] = '110'

In [412]:
# Решение 4 задачи, Solution 4 of the problem
mean_runtime_film = round(data.runtime.mean())# Округление, Rounding a number
print("Задание 4: Cредняя длительность фильмов  - ", mean_runtime_film)

Задание 4: Cредняя длительность фильмов  -  110

# 5. Каково медианное значение длительности фильмов?

In [413]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['5'] = '107'

In [414]:
# Решение 5 задачи, Solution 5 of the problem
median_runtime_film = round(data.runtime.median())# Округление, Rounding a number
print("Задание 4: Cредняя длительность фильмов  - ", median_runtime_film)

Задание 4: Cредняя длительность фильмов  -  107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [415]:
def calculation_of_income ():
    '''Function for calculating income
    Функция для подсчета доходов'''
    data['profit'] = data.revenue - data.budget

In [416]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['6'] = 'Avatar (tt0499549)'

In [417]:
calculation_of_income();

In [418]:
# Решение 6 задачи, Solution 6 of the problem
max_profit_film = data[data.profit == data.profit.max()].original_title
profit_film = data.profit.max()
print("Задание 6: Прибыль фильма  - ", profit_film
     ,"\nНазвание фильма -", max_profit_film)

Задание 6: Прибыль фильма  -  2544505847
Название фильма - 239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [419]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['7'] = 'The Lone Ranger (tt1210819)'

In [420]:
# Решение 7 задачи, Solution 7 of the problem
min_profit_film = data[data.profit == data.profit.min()].original_title
profit_film = data.profit.min()
print("Задание 7: Длительность фильма  - ", profit_film
     ,"\nНазвание фильма -", min_profit_film)

Задание 7: Длительность фильма  -  -165710090
Название фильма - 1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [421]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['8'] = '1478'

In [422]:
# Решение 8 задачи, Solution 8 of the problem
sum_of_profitable_films = len(data[data.revenue  > data.budget].index)# Сумма кол-ва фильмов,the amount of movies
print("Задание 8: Кол-во фильмов, у которых объем сборов оказался выше бюджета  - ", sum_of_profitable_films)

Задание 8: Кол-во фильмов, у которых объем сборов оказался выше бюджета  -  1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [423]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['9'] = 'The Dark Knight (tt0468569)'

In [424]:
# Решение 9 задачи, Solution 9 of the problem
max_revenue_film_2008 = data[(data.revenue  == data.revenue[data.release_year==2008].max())].original_title
revenue_film_2008 = data[data.release_year==2008].revenue.max()
print("Задание 9: Сборы фильма  - ", revenue_film_2008
     ,"\nНазвание фильма -", max_revenue_film_2008)

Задание 9: Сборы фильма  -  1001921825
Название фильма - 599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [425]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['10'] = 'The Dark Knight (tt0468569)'

In [426]:
# Решение 10 задачи, Solution 10 of the problem
min_profit_film_2012_2014 =data[(data.profit  == data.profit[(data.release_year>=2012)&(data.release_year<=2014)].min())].original_title

profit_film_2012_2014 = data[(data.release_year>=2012)&(data.release_year<=2014)].profit.min()
print("Задание 10: Убыль фильма  - ", profit_film_2012_2014
     ,"\nНазвание фильма -", min_profit_film_2012_2014)

Задание 10: Убыль фильма  -  -165710090
Название фильма - 1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [427]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['11'] = 'Drama'

In [428]:
# Решение 11 задачи, Solution 11 of the problem

data_gen=data.copy() 
data_gen.genres = data_gen.genres.str.split('|') # Разделяем строку по '|' в жанре; Dividing the string by '|'
data_gen = data_gen.explode('genres')

max_genres = data_gen['genres'].value_counts().index[0]
kol_film_for_gen = data_gen['genres'].value_counts()[0]
print("Задание 11: Самый популярный жанр  - ", max_genres,
     "\nВсего - ",kol_film_for_gen)

Задание 11: Самый популярный жанр  -  Drama
Всего -  782

ВАРИАНТ 2

In [429]:
# Просто посмотреть на первую строчку
data_gen['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [430]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['12'] = 'Drama'

In [431]:
# Решение 12 задачи, Solution 12 of the problem
genres_max_profit = data_gen[data_gen.profit>0]
genres_max_profit = genres_max_profit.groupby(['genres'])["profit"].nunique().sort_values()

kol_genres_max_profit = genres_max_profit[-1]
genres_max_profit = genres_max_profit.index[-1]
print("Задание 12: Самый прибыльный жанр  - ", genres_max_profit,
     "\n Кол - ",kol_genres_max_profit)

Задание 12: Самый прибыльный жанр  -  Drama
 Кол -  559

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [432]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['13'] = 'Peter Jackson'

In [433]:
# Решение 13 задачи, Solution 13 of the problem
df=data.copy()
df.director = df.director.str.split('|') #Разделяем строку по '|' в director; Dividing the string by '|'
df2 = df.explode('director')

max_revenue_director = df2.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
money_max_revenue_director = max_revenue_director[0]
max_revenue_director = max_revenue_director.index[0]

print("Задание 13: Режиссер, у которого самые большие суммарные кассовые сборы  - ", max_revenue_director,
     '\nCуммарные кассовые сборы -',money_max_revenue_director)

Задание 13: Режиссер, у которого самые большие суммарные кассовые сборы  -  Peter Jackson
Cуммарные кассовые сборы - 6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [434]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['14'] = 'Robert Rodriguez'

In [435]:
# Решение 14 задачи, Solution 14 of the problem
dir_action_films = data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts().index[0]
kol_action_films = data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts()[0]
print("Задание 14: Режиссер, который снял больше всего фильмов в стиле Action  - ", dir_action_films,
     '\nКол-во фильмов -', kol_action_films)

Задание 14: Режиссер, который снял больше всего фильмов в стиле Action  -  Robert Rodriguez
Кол-во фильмов - 9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [436]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['15'] = 'Chris Hemsworth'

In [437]:
# Решение 15 задачи, Solution 15 of the problem
df = data[data['release_year'] == 2012].copy() #Берем фильмы 2012 года
df.cast = df.cast.str.split('|')
df=df.explode('cast')  


df = df.groupby(['cast'])['revenue'].sum().sort_values(ascending= False)
Acter_2012 = df.index[0]
Money_Acter_2012 = df[0]
print("Задание 15: Актер, который принес самый высокий кассовый сбор в 2012 году  - ", Acter_2012,
     '\nОн принес -', Money_Acter_2012)

Задание 15: Актер, который принес самый высокий кассовый сбор в 2012 году  -  Chris Hemsworth
Он принес - 2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [438]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['16'] = 'Matt Damon'

In [439]:
# Решение 16 задачи, Solution 16 of the problem
df = data[data['budget'] > data['budget'].mean()].copy() #Берем высокобюджетные фильмы
df.cast = df.cast.str.split('|')
df=df.explode('cast')  

acter_big_cast=df['cast'].value_counts().index[0]
kol_acter_big_cast=df['cast'].value_counts()[0]

print("Задание 16: Актер, который снялся в большем количестве высокобюджетных фильмов - ", acter_big_cast,
     '\nВсего фильмов -', kol_acter_big_cast)

Задание 16: Актер, который снялся в большем количестве высокобюджетных фильмов -  Matt Damon
Всего фильмов - 18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [440]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['17'] = 'Action'

In [441]:
# Решение 17 задачи, Solution 17 of the problem
genres_of_Nicolas = data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts().index[0]
kol_genres_of_Nicolas = data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts()[0]

print("Задание 17: Жанр, в фильмах которого больше всего снимался Nicolas Cage - ", genres_of_Nicolas,
     '\nВсего фильмов -', kol_genres_of_Nicolas)

Задание 17: Жанр, в фильмах которого больше всего снимался Nicolas Cage -  Action
Всего фильмов - 17

# 18. Самый убыточный фильм от Paramount Pictures

In [442]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['18'] = 'K-19: The Widowmaker'

In [443]:
# Решение 18 задачи, Solution 18 of the problem
df = data.copy()
df.production_companies = df.production_companies.str.split('|') 
df=df.explode('production_companies')  

df = df[df.production_companies=="Paramount Pictures"] #Отбираем фильмы от Paramount Pictures, film by Paramount Pictures
df = df.groupby(['original_title'])["profit"].sum().sort_values()

film_losing_by_Paramount = df.index[0]
money_film_losing_by_Paramount = df[0]

print("Задание 18: Самый убыточный фильм от Paramount Picturese - ", film_losing_by_Paramount,
     '\nВсего фильмов -', money_film_losing_by_Paramount)

Задание 18: Самый убыточный фильм от Paramount Picturese -  K-19: The Widowmaker
Всего фильмов - -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [444]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['19'] = '2015'

In [445]:
# Решение 19 задачи, Solution 19 of the problem
df = data.copy() 
df = df.groupby(['release_year'])["revenue"].sum().sort_values(ascending= False)

year_max_revenue = df.index[0]

print("Задание 19: Год, который стал самым успешным по суммарным кассовым сборам - ", year_max_revenue,)

Задание 19: Год, который стал самым успешным по суммарным кассовым сборам -  2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [446]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['20'] = '2014'

In [447]:
# Решение 20 задачи, Solution 20 of the problem
year_revenue_of_Warner = data.loc[data.production_companies.str.contains('Warner Bros')].groupby(by = 'release_year').profit.sum().sort_values(ascending = False)
print("Задание 20: Самый прибыльный год для студии Warner Bros - ", year_revenue_of_Warner.index[0])

Задание 20: Самый прибыльный год для студии Warner Bros -  2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [448]:
def splitting_a_date_into_months(months):
    '''Function for dividing a date into months for all years
    Разделение даты на месяцы за все года'''
    
    S=[]
    for i in range(len(months.release_date)):
        S.append( months.release_date [i][ :months.release_date[i].find('/')] )
    months.release_date = S

In [449]:
def months_to_str(num_months):
    '''Function for translating a month from a number to a word
    Функция для перевода месяца из числа в слово'''
    d = {'1': 'январь', '2': 'февраль', '3': 'март', '4': 'апрель', '5': 'май', '6': 'июнь'
        , '7': 'июль', '8': 'август', '9': 'сентябрь', '10': 'октябрь', '11': 'ноябрь', '12': 'декабрь'}
    return d[num_months]

In [450]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['21'] = 'сентябрь'

In [451]:
# Решение 21 задачи, Solution 21 of the problem
months=data.copy()
splitting_a_date_into_months(months) # Изменяем release_date на месяцы, Changing release_date to months
months['release_date'].value_counts()

films_of_months = months_to_str(months['release_date'].value_counts().index[0]) # Переводим месяц из числа в слово, translating a month from a number to a word
kol_films_of_moths =  months['release_date'].value_counts()[0]


print("Задание 21: Месяц, в котором за все годы суммарно вышло больше всего фильмов - ", films_of_months,
     '\nВсего фильмов -', kol_films_of_moths)

Задание 21: Месяц, в котором за все годы суммарно вышло больше всего фильмов -  сентябрь
Всего фильмов - 227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [452]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['22'] = '450'

In [453]:
# Решение 22 задачи, Solution 22 of the problem
sum_kol_summer_films = len(months[( months.release_date == '6' ) | (months.release_date == '7') | (months.release_date == '8')])
print("Задание 22: Кол-во фильмов, которые вышли летом - ", sum_kol_summer_films)

Задание 22: Кол-во фильмов, которые вышли летом -  450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [454]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['23'] = 'Peter Jackson'

In [455]:
# Решение 23 задачи, Solution 23 of the problem
winter_director = months[(months.release_date=='12')|(months.release_date=='1')|(months.release_date=='2')].director.str.split('|').explode().value_counts().index[0]
kol_fims_of_winter_director = months[(months.release_date=='12')|(months.release_date=='1')|(months.release_date=='2')].director.str.split('|').explode().value_counts()[0]

print("Задание 23: Режиссер, для которого зима – самое продуктивное время года - ", winter_director,
     '\nОн снял', kol_fims_of_winter_director, 'фильмов')

Задание 23: Режиссер, для которого зима – самое продуктивное время года -  Peter Jackson
Он снял 7 фильмов

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [456]:
def len_original_title (data_len_original_title):
    '''Function for counting the number of characters
    Функция для подсчета количества символов'''
    
    data_len_original_title['len_title'] = data.original_title.apply(lambda x:len(x)) #добавили столбец с длиной названий
    return data_len_original_title

In [457]:
# Добавление ответа в словарь, Adding a response to the dictionary  
answers['24'] = 'Four By Two Productions'

In [458]:
# Решение 24 задачи, Solution 24 of the problem
data_len_original_title = data.copy()
data_len_original_title = len_original_title(data_len_original_title) # Добавили новый столбец с длиной строки, Added a new column with a row length

max_len_by_production_companies = (data_len_original_title.assign(production_companies = data_len_original_title['production_companies'].str.split('|'))
       .explode('production_companies').groupby('production_companies')['len_title'].mean().sort_values())

print("Задание 24: Студия, которая дает самые длинные названия своим фильмам по количеству символов ", max_len_by_production_companies.index[-1],
     '\nКол-во символов -', max_len_by_production_companies[-1])

Задание 24: Студия, которая дает самые длинные названия своим фильмам по количеству символов  Four By Two Productions
Кол-во символов - 83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [459]:
def len_overview (data_len_overview):
    '''Function for counting the number of characters
    Функция для подсчета количества символов'''
    
    data_len_overview['len_overview'] = data.overview.apply(lambda x:len(x)) #добавили столбец с длиной названий
    return data_len_overview

In [460]:
# Добавление ответа в словарь, Adding a response to the dictionary 
answers['25'] = 'Midnight Picture Show'

In [461]:
# Решение 25 задачи, Solution 25 of the problem
data_len_overview = data.copy()
data_len_overview = len_overview(data_len_overview) # Добавили новый столбец с длиной описания, Added a new column with a row overview

max_len_by_overview = (data_len_overview.assign(production_companies = data_len_overview['production_companies'].str.split('|'))
       .explode('production_companies').groupby('production_companies')['len_overview'].mean().sort_values(ascending= False))

print("Задание 25: Студия, в которой самое длинное в среднем описаник ", max_len_by_overview.index[0],
     '\nКол-во символов -', max_len_by_overview[0])

Задание 25: Студия, в которой самое длинное в среднем описаник  Midnight Picture Show
Кол-во символов - 1000.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [462]:
# Добавление ответа в словарь, Adding a response to the dictionary 
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [463]:
# Решение 26 задачи, Solution 26 of the problem
best_film = data.copy()
best_film=best_film.sort_values('vote_average',ascending= False) #Сортируем по рейтингу,Sort by rating
best_film=best_film.head((round(len(best_film)/100)))  #Берем 1 процент от всех данных, take 1 percent of all the data
best_film.original_title

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [464]:
# Добавление ответа в словарь, Adding a response to the dictionary 
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [465]:
# Решение 27 задачи, Solution 27 of the problem
# Использовал функцию combinations, для поиска всех комбинаций актеров
pairs = Counter() 
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists,2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
print("Задание 26: Актеры, которые: чаще всего снимаются в одном фильме вместе: ")            
pairs.most_common(1)

Задание 26: Актеры, которые: чаще всего снимаются в одном фильме вместе:

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [466]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Dark Knight (tt0468569)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [467]:
# и убедиться что ни чего не пропустил)
len(answers)

27